In [10]:
import pandas as pd
import numpy as np

In [11]:
# Membuat DataFrame
data = {
    'TransactionAmount': [100, 150, 50, 100, 130, 120, 100, 85, 70, 150, 150, 120, 50, 100, 100, 140, 90, 150, 50, 90, 120, 100, 110, 75, 65]
}
df = pd.DataFrame(data)
df

    TransactionAmount
0                 100
1                 150
2                  50
3                 100
4                 130
5                 120
6                 100
7                  85
8                  70
9                 150
10                150
11                120
12                 50
13                100
14                100
15                140
16                 90
17                150
18                 50
19                 90
20                120
21                100
22                110
23                 75
24                 65

In [12]:
# Measure of central tendency
mean = df['TransactionAmount'].mean()
median = df['TransactionAmount'].median()
mode = df['TransactionAmount'].mode()[0]

In [13]:
# Measure of variability
range_val = df['TransactionAmount'].max() - df['TransactionAmount'].min()
std_dev = df['TransactionAmount'].std()
variance = df['TransactionAmount'].var()

In [14]:
print("Mean:", mean)
print("Median:", median)
print("Mode:", mode)
print("Range:", range_val)
print("Standard Deviation:", std_dev)
print("Variance:", variance)

Mean: 102.6
Median: 100.0
Mode: 100
Range: 100
Standard Deviation: 31.82373328193912
Variance: 1012.7499999999997

In [15]:
import scipy.stats as stats

In [16]:
len(df)

25

In [17]:
from scipy.stats import ttest_1samp

# Melakukan T-Test
alpha = 0.05
previous_mean = 100  # Rata-rata penjualan sebelumnya
t_statistic, p_value = ttest_1samp(df['TransactionAmount'], previous_mean)

print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value < alpha:
    print("Reject H0, rata-rata penjualan setelah pelatihan lebih besar dari rata-rata sebelumnya.")
else:
    print("Fail to reject H0, tidak cukup bukti untuk menyatakan bahwa rata-rata penjualan setelah pelatihan lebih besar dari rata-rata sebelumnya.")

T-Statistic: 0.4085001556802841
P-Value: 0.6865284813438117
Fail to reject H0, tidak cukup bukti untuk menyatakan bahwa rata-rata penjualan setelah pelatihan lebih besar dari rata-rata sebelumnya.